In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#loading the dataset to a pandas dataframe
credit_card_data=pd.read_csv("/content/creditcard.csv")

In [ ]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
144662,86306,-1.159439,1.293311,1.665354,0.216017,0.277078,-0.097341,0.810287,0.228097,-0.393932,...,-0.044334,0.026481,-0.363068,0.091470,0.671527,-0.440231,-0.363294,-0.232516,9.99,0.0
144663,86307,0.127203,0.750928,-0.907181,-0.787828,2.098630,3.769405,-1.449344,-1.757987,-0.638194,...,-1.625143,-0.887240,0.037570,0.931982,0.892304,0.166069,-0.040906,0.134052,1.98,0.0
144664,86307,-1.256340,0.666847,0.857662,1.071812,-0.624798,0.329237,0.477858,0.502438,-0.291680,...,0.097908,0.428510,-0.175776,0.032314,-0.033240,-0.269483,0.257663,0.049923,150.57,0.0
144665,86308,-2.085957,2.132527,0.394236,-0.793308,0.560582,0.250669,0.898546,-0.087808,1.373166,...,-0.688234,-0.691653,-0.155321,-0.941042,0.082100,0.005104,-0.252739,-0.930140,8.92,0.0
144666,86308,-5.267211,5.386949,-3.731378,0.432479,-2.516262,-1.773733,-1.697328,2.916170,1.030709,...,0.018608,0.187433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144667 entries, 0 to 144666
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    144667 non-null  int64
 1   V1      144667 non-null  float64
 2   V2      144667 non-null  float64
 3   V3      144667 non-null  float64
 4   V4      144667 non-null  float64
 5   V5      144667 non-null  float64
 6   V6      144667 non-null  float64
 7   V7      144667 non-null  float64
 8   V8      144667 non-null  float64
 9   V9      144667 non-null  float64
 10  V10     144667 non-null  float64
 11  V11     144667 non-null  float64
 12  V12     144667 non-null  float64
 13  V13     144667 non-null  float64
 14  V14     144667 non-null  float64
 15  V15     144667 non-null  float64
 16  V16     144667 non-null  float64
 17  V17     144667 non-null  float64
 18  V18     144667 non-null  float64
 19  V19     144667 non-null  float64
 20  V20     144667 non-null  float64
 21  V21     144667 non-null  float64
 22  V22     144667 non-null  float64
 23  V23     144666 non-null  float64
 24  V24     144666 non-null  float64
 25  V25     144666 non-null  float64
 26  V26     144666 non-null  float64
 27  V27     144666 non-null  float64
 28  V28     144666 non-null  float64
 29  Amount  144666 non-null  float64
 30  Class   144666 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 34.2 MB

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
credit_card_data['V23'].fillna(credit_card_data['V23'].median(),inplace=True)
credit_card_data['V24'].fillna(credit_card_data['V24'].median(),inplace=True)
credit_card_data['V25'].fillna(credit_card_data['V25'].median(),inplace=True)
credit_card_data['V26'].fillna(credit_card_data['V26'].median(),inplace=True)
credit_card_data['V27'].fillna(credit_card_data['V27'].median(),inplace=True)
credit_card_data['V28'].fillna(credit_card_data['V28'].median(),inplace=True)
credit_card_data['Amount'].fillna(credit_card_data['Amount'].median(),inplace=True)
credit_card_data['Class'].fillna(credit_card_data['Class'].median(),inplace=True)

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
#checking legit and fraudulent transactions
#legit will be given as 0
#fraudulent will be given as 1
credit_card_data['Class'].value_counts()

0.0    144387
1.0       280
Name: Class, dtype: int64

In [ ]:
#separating the data for analysis
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(144387, 31)
(280, 31)

In [ ]:
legit.Amount.describe()

count    144387.000000
mean         90.358426
std         245.584747
min           0.000000
25%           5.990000
50%          23.410000
75%          80.000000
max       19656.530000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     280.000000
mean      117.554786
std       242.370401
min         0.000000
25%         1.000000
50%         9.560000
75%       102.327500
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
#compare the values for both the transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,52935.839501,-0.243617,0.017426,0.687030,0.128719,-0.274421,0.081612,-0.108119,0.063296,-0.085138,...,0.042151,-0.042126,-0.118397,-0.032697,0.012012,0.130344,0.021598,-0.000428,0.002006,90.358426
1.0,44851.321429,-5.482594,3.872124,-7.074239,4.497422,-3.915772,-1.484809,-5.879456,1.527970,-2.655889,...,0.271859,1.239463,-0.305622,-0.116081,-0.123205,0.211040,0.082552,0.526928,0.087303,117.554786

Now we are going to build sample dataset containing similar distribution of normal transactions and fraudulent transactions.
No.of fraudulent transactions-->280

In [ ]:
legit_sample=legit.sample(n=280)

In [ ]:
#concatenating two dataframes
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [ ]:
#head gives legit samples
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
64480,51161,-0.965878,0.809252,0.846067,0.629179,0.051520,0.616830,1.521181,-0.327327,-0.504698,...,0.069048,0.741761,-0.088849,-0.264892,-0.247463,-0.338173,-0.000216,-0.013653,177.25,0.0
69732,53560,1.151816,-1.562727,0.855791,-1.126909,-2.067536,-0.593426,-1.150366,-0.060572,-1.622329,...,0.083183,0.364039,-0.023923,0.612805,0.139607,-0.121027,0.041735,0.052908,150.00,0.0
79674,58123,0.503758,-2.000739,-0.466165,-0.193658,-1.193313,-0.485734,0.185974,-0.219300,-0.667029,...,0.442005,0.284393,-0.523189,0.135170,0.516216,-0.080983,-0.085072,0.077586,465.00,0.0
40943,40471,1.410318,-0.358219,-0.328514,-0.909914,-0.221053,-0.423138,-0.237233,-0.095909,-1.381396,...,0.239543,0.651177,-0.175451,-0.255407,0.736349,-0.051180,-0.014733,-0.017251,1.00,0.0
36506,38568,-1.167605,1.466997,0.779613,1.513887,0.276054,-0.577632,1.153754,0.237920,-2.024241,...,0.226816,0.377257,-0.055328,0.535819,0.017618,-0.159549,-0.154842,0.037076,76.72,0.0

In [ ]:
#tail gives fraud samples
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
143336,85285,-6.713407,3.921104,-9.746678,5.148263,-5.151563,-2.099389,-5.937767,3.578780,-4.684952,...,0.954272,-0.451086,0.127214,-0.339450,0.394096,1.075295,1.649906,-0.394905,252.92,1.0
143728,85573,-1.756712,3.266574,-4.153388,3.924526,-1.753772,-1.005787,-4.313217,1.560712,-3.295674,...,0.911427,0.053061,-0.367701,-0.776338,0.292094,0.026000,1.062968,0.501148,1.00,1.0
143731,85576,-2.207631,3.259076,-5.436365,3.684737,-3.066401,-0.671323,-3.696178,1.822272,-3.049653,...,0.920899,0.037675,0.026754,-0.791489,0.176493,-0.136312,1.087585,0.373834,240.77,1.0
144104,85864,-3.365265,2.928541,-5.660999,3.891160,-1.840375,-1.800887,-5.558679,2.402322,-2.848923,...,0.875260,-0.102501,-0.606283,-0.743165,0.096319,-0.135060,1.238695,0.099824,1.00,1.0
144108,85867,-3.586964,2.609127,-5.568577,3.631947,-4.543590,-0.157899,-4.089128,2.417305,-3.239901,...,1.024423,0.428756,0.182032,-0.534598,0.168933,-0.149844,0.685517,-0.299728,310.42,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    280
1.0    280
Name: Class, dtype: int64

Above we can see uniformly distributed legit and fraud transactions

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,53391.000000,-0.316086,-0.080227,0.816717,0.163589,-0.238025,0.006159,-0.110582,-0.011266,-0.136925,...,-0.046324,-0.008935,-0.143638,-0.060996,-0.017845,0.092724,0.059468,0.015164,-0.015784,96.461036
1.0,44851.321429,-5.482594,3.872124,-7.074239,4.497422,-3.915772,-1.484809,-5.879456,1.527970,-2.655889,...,0.271859,1.239463,-0.305622,-0.116081,-0.123205,0.211040,0.082552,0.526928,0.087303,117.554786

In [ ]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [ ]:
print(X)

         Time        V1        V2        V3        V4        V5        V6  \
64480   51161 -0.965878  0.809252  0.846067  0.629179  0.051520  0.616830
69732   53560  1.151816 -1.562727  0.855791 -1.126909 -2.067536 -0.593426
79674   58123  0.503758 -2.000739 -0.466165 -0.193658 -1.193313 -0.485734
40943   40471  1.410318 -0.358219 -0.328514 -0.909914 -0.221053 -0.423138
36506   38568 -1.167605  1.466997  0.779613  1.513887  0.276054 -0.577632
...       ...       ...       ...       ...       ...       ...       ...
143336  85285 -6.713407  3.921104 -9.746678  5.148263 -5.151563 -2.099389
143728  85573 -1.756712  3.266574 -4.153388  3.924526 -1.753772 -1.005787
143731  85576 -2.207631  3.259076 -5.436365  3.684737 -3.066401 -0.671323
144104  85864 -3.365265  2.928541 -5.660999  3.891160 -1.840375 -1.800887
144108  85867 -3.586964  2.609127 -5.568577  3.631947 -4.543590 -0.157899

              V7        V8        V9  ...       V20       V21       V22  \
64480   1.521181 -0.327327 -0.504698  ... -0.051402  0.069048  0.741761
69732  -1.150366 -0.060572 -1.622329  ... -0.100374  0.083183  0.364039
79674   0.185974 -0.219300 -0.667029  ...  0.876562  0.442005  0.284393
40943  -0.237233 -0.095909 -1.381396  ...  0.024854  0.239543  0.651177
36506   1.153754  0.237920 -2.024241  ... -0.253383  0.226816  0.377257
...          ...       ...       ...  ...       ...       ...       ...
143336 -5.937767  3.578780 -4.684952  ...  0.135711  0.954272 -0.451086
143728 -4.313217  1.560712 -3.295674  ...  0.874720  0.911427  0.053061
143731 -3.696178  1.822272 -3.049653  ...  0.808336  0.920899  0.037675
144104 -5.558679  2.402322 -2.848923  ...  0.576379  0.875260 -0.102501
144108 -4.089128  2.417305 -3.239901  ... -0.178534  1.024423  0.428756

             V23       V24       V25       V26       V27       V28  Amount
64480  -0.088849 -0.264892 -0.247463 -0.338173 -0.000216 -0.013653  177.25
69732  -0.023923  0.612805  0.139607 -0.121027  0.041735  0.052908  150.00
79674  -0.523189  0.135170  0.516216 -0.080983 -0.085072  0.077586  465.00
40943  -0.175451 -0.255407  0.736349 -0.051180 -0.014733 -0.017251    1.00
36506  -0.055328  0.535819  0.017618 -0.159549 -0.154842  0.037076   76.72
...          ...       ...       ...       ...       ...       ...     ...
143336  0.127214 -0.339450  0.394096  1.075295  1.649906 -0.394905  252.92
143728 -0.367701 -0.776338  0.292094  0.026000  1.062968  0.501148    1.00
143731  0.026754 -0.791489  0.176493 -0.136312  1.087585  0.373834  240.77
144104 -0.606283 -0.743165  0.096319 -0.135060  1.238695  0.099824    1.00
144108  0.182032 -0.534598  0.168933 -0.149844  0.685517 -0.299728  310.42

[560 rows x 30 columns]

In [ ]:
print(Y)

64480     0.0
69732     0.0
79674     0.0
40943     0.0
36506     0.0
         ...
143336    1.0
143728    1.0
143731    1.0
144104    1.0
144108    1.0
Name: Class, Length: 560, dtype: float64

In [ ]:
#splitting the data into training data and testing data
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(560, 30) (448, 30) (112, 30)

In [ ]:
model=LogisticRegression()

In [ ]:
#training the logistic regression model with training data
model.fit(X_train,Y_train)

In [ ]:
#accuracy on training data
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)
training_data_accuracy

0.9575892857142857

In [ ]:
#accuracy on test data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)
test_data_accuracy

0.9017857142857143